<div class="post-card">
    <div class="post-header">
        <div class="post-user">
            <img
                class="profile-image"
                [src]="profileImage"
                [alt]="username + ' profile picture'"
            />
            <div class="post-user-info">
                <span class="username">{{ username }}</span>
                <span class="location" *ngIf="location">
                    {{ location }}
                </span>
            </div>
        </div>
        <button
            type="button"
            class="menu-button"
            aria-label="Post options"
            >...</button>
        </div>
        <img
            class="post-image"
            [src]="postImage"
            [alt]="'Post by ' + username"
        />
        <div class="post-content">
            <app-action-bar [likes]="likes"></app-action-bar>
            <p class="post-likes">
                <strong>{{ likes }} likes</strong>
            </p>
            <p class="post-caption">
                <strong>{{ username }}</strong> {{ caption }}
            </p>
        </div>            
</div>